<!-- footer_section - start
      ================================================== -->
<footer class="footer_section footer_style_3">
	<div class="container maxwidth_1440 text-center">
		<h2>ready to work with me?</h2>
		<ul class="contact_info_list ul_li_block">
			<li>San Diago, CA, United State</li>
			<li><a href="#!">{{ site.data.settings.contact_settings.email_2 }}</a></li>
			<li><a href="#!">(+99) 958-5217-956</a></li>
		</ul>
		<ul class="social_primary ul_li_center">
			<li><a href="{{ site.data.settings.social_settings.dribbble_url }}">DRIBBBLE</a></li>
			<li><a href="{{ site.data.settings.social_settings.behance_url }}">BEHANCE</a></li>
			<li><a href="{{ site.data.settings.social_settings.instagram_url }}">INSTAGRAM</a></li>
		</ul>
	</div>
	<div class="footer_bottom">
		<div class="container maxwidth_1440">
			<p class="copyright_text mb-0"><i class="fal fa-copyright"></i> {{ site.data.settings.footer_settings.copyright_text }} <a class="text-white" href="{{ site.baseurl }}/"><u>{{ site.data.settings.name }}</u></a></p>
			<div class="brand_logo">
				<a class="brand_link" href="{{ site.baseurl }}/">
					<img src="{{ site.data.settings.logo_1 | relative_url }}" alt="logo_not_found">
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- footer_section - end
      ================================================== -->