<!-- footer_section - start
      ================================================== -->
<footer class="footer_section footer_style_1 section_space pt-0">
	<div class="container">
		<div class="footer_widget_area section_space">
			<div class="row">
				<div class="col col-lg-4 col-md-4 col-sm-6">
					<div class="brand_logo wow fadeInRight" data-wow-delay=".1s">
						<a class="brand_link" href="{{ / }}">
							<img src="{{ site.data.settings.logo_1 | relative_url }}" alt=" logo_not_found">
						</a>
					</div>
				</div>
				<div class="col col-lg-4 col-md-4 col-sm-6">
					<div class="footer_widget wow fadeInRight" data-wow-delay=".2s">
						<h3 class="footer_widget_title">Location</h3>
						<ul class="footer_info_list ul_li_block">
							<li>Dexfolio Studio</li>
							<li>Labadie Plaza Apt. 464</li>
							<li>New York, United State.</li>
						</ul>
					</div>
				</div>
				<div class="col col-lg-4 col-md-4 col-sm-6">
					<div class="footer_widget wow fadeInRight" data-wow-delay=".3s">
						<h3 class="footer_widget_title">Say Hello</h3>
						<ul class="footer_info_list ul_li_block">
							<li><a href="#!">{{ site.data.settings.contact_settings.email }}</a></li>
							<li><a href="#!">{{ site.data.settings.contact_settings.phone_number }}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom">
			<p class="copyright_text mb-0 wow fadeInRight" data-wow-delay=".2s"><i class="fal fa-copyright"></i> {{ site.data.settings.footer_settings.copyright_text }} <a class="text-white" href="{{ site.baseurl }}/">{{ site.data.settings.name }}</a></p>
			<ul class="social_primary ul_li wow fadeInRight" data-wow-delay=".1s">
				<li><a href="{{ site.data.settings.social_settings.dribbble_url }}">DRIBBBLE</a></li>
				<li><a href="{{ site.data.settings.social_settings.behance_url }}">BEHANCE</a></li>
				<li><a href="{{ site.data.settings.social_settings.instagram_url }}">INSTAGRAM</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- footer_section - end
      ================================================== -->