<!-- footer_section - start
      ================================================== -->
<footer class="footer_section footer_style_2 decoration_wrap">
	<div class="container maxwidth_1440">
		<div class="footer_widget_area section_space_lg">
			<div class="row">
				<div class="col col-lg-3 col-md-12">
					<div class="brand_logo wow fadeInRight" data-wow-delay=".1s">
						<a class="brand_link" href="{{ site.baseurl }}/">
							<img src="{{ site.data.settings.logo_1 | relative_url }}" alt="logo_not_found">
						</a>
					</div>
				</div>
				<div class="col col-lg-3 col-md-4 col-sm-4">
					<div class="footer_widget wow fadeInRight" data-wow-delay=".2s">
						<h3 class="footer_widget_title">Services</h3>
						<ul class="footer_info_list ul_li_block">
							<li><a href="#!">Web Design</a></li>
							<li><a href="#!">Development</a></li>
							<li><a href="#!">Wordpress</a></li>
							<li><a href="#!">Online Marketing</a></li>
							<li><a href="#!">Content</a></li>
						</ul>
					</div>
				</div>
				<div class="col col-lg-3 col-md-4 col-sm-4">
					<div class="footer_widget wow fadeInRight" data-wow-delay=".3s">
						<h3 class="footer_widget_title">About us</h3>
						<ul class="footer_info_list ul_li_block">
							<li><a href="#!">About us</a></li>
							<li><a href="#!">Work Portfolio</a></li>
							<li><a href="#!">Team</a></li>
							<li><a href="#!">Plan & Pricing</a></li>
							<li><a href="#!">News</a></li>
						</ul>
					</div>
				</div>
				<div class="col col-lg-3 col-md-4 col-sm-4">
					<div class="footer_widget wow fadeInRight" data-wow-delay=".4s">
						<h3 class="footer_widget_title">Our Address</h3>
						<ul class="footer_info_list ul_li_block">
							<li>685 Street Address, New Place</li>
							<li>Hight, 27th Floor, Box 3681</li>
							<li>New York, United State.</li>
							<li><a href="#!">{{ site.data.settings.contact_settings.email_2 }}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="social_wrap">
				<h4 class="social_title text-white">Connect with us</h4>
				<ul class="social_primary ul_li">
					<li><a href="{{ site.data.settings.social_settings.facebook_url }}">FB.</a></li>
					<li><a href="{{ site.data.settings.social_settings.twitter_url }}">TW.</a></li>
					<li><a href="{{ site.data.settings.social_settings.linkedin_url }}">LN.</a></li>
					<li><a href="{{ site.data.settings.social_settings.behance_url }}">BE.</a></li>
					<li><a href="{{ site.data.settings.social_settings.dribbble_url }}">DR.</a></li>
				</ul>
			</div>
			<p class="copyright_text mb-0 text-white">
				<i class="fal fa-copyright"></i> {{ site.data.settings.footer_settings.copyright_text }} <a class="text-white" href="{{ site.baseurl }}/"><u>{{ site.data.settings.name }}</u></a>
			</p>
		</div>
	</div>
	<div class="line_decoration_y">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
	<div class="line_decoration_x">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
</footer>
<!-- footer_section - end
      ================================================== -->