<!-- contact_section - start
        ================================================== -->
<section class="contact_section section_space pt-0">
	<div class="container maxwidth_1440">		
	{% if site.google_maps.enable %}
		<div class="map_section clearfix wow fadeInUp2" data-wow-delay=".1s">
			<div class="mapouter">
                <div class="gmap_canvas">
			        {{ site.google_maps.code }}
			    </div>
			</div>
		</div>
	{% endif %}
		<div class="section_space pb-0">
			<div class="row justify-content-lg-between">
				<div class="col order-last col-lg-5">
					<div class="contact_info_wrap_2">
						<div class="section_title_3 wow fadeInUp2" data-wow-delay=".1s">
							<h3 class="title_text">{{ page.contact.title }}</h3>
						</div>
						<p class="wow fadeInUp2" data-wow-delay=".2s">
							{{ page.contact.description }}
						</p>
						<ul class="contact_info_list_2 ul_li_block">
							<li class="wow fadeInUp2" data-wow-delay=".3s">
								<span>
									{{ page.contact.address_image }}
								</span>
								<a href="#!">{{ page.contact.address }}</a>
							</li>
							<li class="wow fadeInUp2" data-wow-delay=".4s">
								<span>
									<{{ page.contact.email_image }}
								</span>
								<a href="#!">{{ page.contact.email }}</a>
							</li>
							<li class="wow fadeInUp2" data-wow-delay=".5s">
								<span>
									{{ page.contact.call_image }}
								</span>
								<a href="#!">{{ page.contact.call }}</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col col-lg-6">
					<div class="contact_form pt-0">
						<div class="section_title_3 wow fadeInUp2" data-wow-delay=".1s">
							<h3 class="title_text">{{ page.contact.form_title }}</h3>
						</div>
						<form action="https://formsubmit.co/tortoizthemes@gmail.com" method="POST">
							<div class="select_option clearfix wow fadeInUp2" data-wow-delay=".1s">
								<select>
									<option data-display="Interested in …">Select Your Option</option>
									<option value="1">Intersted in Mobile App</option>
									<option value="2">Interested in Website</option>
									<option value="3">Only UI Design</option>
									<option value="4">Only Development</option>
									<option value="5">Branding</option>
									<option value="6">Motion design</option>
									<option value="7">Concept Design</option>
								</select>
							</div>
							<div class="row">
								<div class="col col-md-6">
									<div class="form_item wow fadeInUp2" data-wow-delay=".1s">
										<input type="text" name="name" placeholder="Your Name">
									</div>
								</div>
								<div class="col col-md-6">
									<div class="form_item wow fadeInUp2" data-wow-delay=".1s">
										<input type="email" name="email" placeholder="Email">
									</div>
								</div>
							</div>
							<div class="form_item wow fadeInUp2" data-wow-delay=".1s">
								<textarea name="description" placeholder="Project description (Optional)"></textarea>
							</div>
							<button type="submit" class="btn btn_primary wow fadeInUp2" data-wow-delay=".1s">SUBMIT NOW</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- contact_section - end
        ================================================== -->