<!-- contact_section - start
        ================================================== -->
<section class="contact_section section_space bg_gray">
	<div class="container">
		<div class="section_title_2 wow fadeInUp2">
			<h2 class="title_text mb-0">
				<span class="d-md-block">{{ page.contact.title }}</span> {{ page.contact.title_2 }}
			</h2>
		</div>
		<div class="row">
			<div class="col col-lg-10">
				<div class="contact_form">
					<form action="https://formsubmit.co/tortoizthemes@gmail.com" method="POST">
						<div class="select_option clearfix wow fadeInUp2" data-wow-delay=".1s">
							<select>
								<option data-display="Interested in …">Select Your Option</option>
								<option value="1">Intersted in Mobile App</option>
								<option value="2">Interested in Website</option>
								<option value="3">Only UI Design</option>
								<option value="4">Only Development</option>
								<option value="5">Branding</option>
								<option value="6">Motion design</option>
								<option value="7">Concept Design</option>
							</select>
						</div>
						<div class="row">
							<div class="col col-lg-6">
								<div class="form_item wow fadeInUp2" data-wow-delay=".1s">
									<input type="text" name="name" placeholder="Your Name">
								</div>
							</div>
							<div class="col col-lg-6">
								<div class="form_item wow fadeInUp2" data-wow-delay=".1s">
									<input type="email" name="email" placeholder="Email">
								</div>
							</div>
						</div>
						<div class="form_item wow fadeInUp2" data-wow-delay=".1s">
							<textarea name="description" placeholder="Project description (Optional)"></textarea>
						</div>
						<button type="submit" class="btn btn_primary wow fadeInUp2" data-wow-delay=".1s">SUBMIT NOW</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- contact_section - end
        ================================================== -->