<!-- portfolio_section - start
        ================================================== -->
<section class="portfolio_section bg_dark section_space">
	<div class="section_space_rl">
		<div class="section_title_4 text-center wow fadeInUp2" data-wow-delay=".1s">
			<h2 class="title_text text-white mb-0">
				Our <strong>Latest</strong> Works
			</h2>
		</div>
		<div class="grid grid_col_2 row">
			<div class="grid-sizer"></div>
			<div class="col grid-item">
				<div class="portfolio_grid_layout wow fadeInUp2" data-wow-delay=".1s">
					<span class="item_date">2022</span>
					<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
						<img src="assets/images/portfolio/portfolio_img_50.jpg" alt="Portfolio Image">
					</a>
					<div class="item_content">
						<h3 class="item_title">Brew</h3>
						<ul class="item_category ul_li">
							<li><a href="#!">Product</a></li>
							<li><a href="#!">Branding</a></li>
						</ul>
						<a class="details_link" href="{{ "portfolio-details" | relative_url }}">
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col grid-item">
				<div class="portfolio_grid_layout wow fadeInUp2" data-wow-delay=".2s">
					<span class="item_date">2022</span>
					<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
						<img src="assets/images/portfolio/portfolio_img_51.jpg" alt="Portfolio Image">
					</a>
					<div class="item_content">
						<h3 class="item_title">Aromas Organic</h3>
						<ul class="item_category ul_li">
							<li><a href="#!">Product</a></li>
							<li><a href="#!">Branding</a></li>
						</ul>
						<a class="details_link" href="{{ "portfolio-details" | relative_url }}">
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col grid-item">
				<div class="portfolio_grid_layout wow fadeInUp2" data-wow-delay=".1s">
					<span class="item_date">2022</span>
					<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
						<img src="assets/images/portfolio/portfolio_img_52.jpg" alt="Portfolio Image">
					</a>
					<div class="item_content">
						<h3 class="item_title">Renomed</h3>
						<ul class="item_category ul_li">
							<li><a href="#!">Product</a></li>
							<li><a href="#!">Branding</a></li>
						</ul>
						<a class="details_link" href="{{ "portfolio-details" | relative_url }}">
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col grid-item">
				<div class="portfolio_grid_layout wow fadeInUp2" data-wow-delay=".2s">
					<span class="item_date">2020</span>
					<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
						<img src="assets/images/portfolio/portfolio_img_53.jpg" alt="Portfolio Image">
					</a>
					<div class="item_content">
						<h3 class="item_title">Mockups</h3>
						<ul class="item_category ul_li">
							<li><a href="#!">Product</a></li>
							<li><a href="#!">Branding</a></li>
						</ul>
						<a class="details_link" href="{{ "portfolio-details" | relative_url }}">
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col grid-item">
				<div class="portfolio_grid_layout wow fadeInUp2" data-wow-delay=".1s">
					<span class="item_date">2020</span>
					<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
						<img src="assets/images/portfolio/portfolio_img_54.jpg" alt="Portfolio Image">
					</a>
					<div class="item_content">
						<h3 class="item_title">Mocha Cold</h3>
						<ul class="item_category ul_li">
							<li><a href="#!">Product</a></li>
							<li><a href="#!">Branding</a></li>
						</ul>
						<a class="details_link" href="{{ "portfolio-details" | relative_url }}">
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col grid-item">
				<div class="portfolio_grid_layout wow fadeInUp2" data-wow-delay=".2s">
					<span class="item_date">2020</span>
					<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
						<img src="assets/images/portfolio/portfolio_img_55.jpg" alt="Portfolio Image">
					</a>
					<div class="item_content">
						<h3 class="item_title">Chocolate</h3>
						<ul class="item_category ul_li">
							<li><a href="#!">Product</a></li>
							<li><a href="#!">Branding</a></li>
						</ul>
						<a class="details_link" href="{{ "portfolio-details" | relative_url }}">
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col grid-item">
				<div class="portfolio_grid_layout wow fadeInUp2" data-wow-delay=".1s">
					<span class="item_date">2019</span>
					<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
						<img src="assets/images/portfolio/portfolio_img_56.jpg" alt="Portfolio Image">
					</a>
					<div class="item_content">
						<h3 class="item_title">Gotema</h3>
						<ul class="item_category ul_li">
							<li><a href="#!">Product</a></li>
							<li><a href="#!">Branding</a></li>
						</ul>
						<a class="details_link" href="{{ "portfolio-details" | relative_url }}">
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- portfolio_section - end
        ================================================== -->