<!-- portfolio_section - start
        ================================================== -->
<section class="portfolio_section wow fadeInUp2" data-wow-delay=".1s">
	<div class="grid grid_col_2">
		<div class="grid-sizer"></div>
		<div class="grid-item">
			<div class="portfolio_fullimage">
				<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
					<img src="assets/images/portfolio/portfolio_img_42.jpg" alt="Portfolio Image">
				</a>
				<div class="item_content">
					<h3>
						Design is the slient ambass of brand
					</h3>
					<ul class="item_brand_list ul_li">
						<li><a href="#!">Branding</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid-item">
			<div class="portfolio_fullimage">
				<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
					<img src="assets/images/portfolio/portfolio_img_43.jpg" alt="Portfolio Image">
				</a>
				<div class="item_content">
					<h3>
						Design is the slient ambass of brand
					</h3>
					<ul class="item_brand_list ul_li">
						<li><a href="#!">Branding</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid-item">
			<div class="portfolio_fullimage">
				<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
					<img src="assets/images/portfolio/portfolio_img_44.jpg" alt="Portfolio Image">
				</a>
				<div class="item_content">
					<h3>
						Design is the slient ambass of brand
					</h3>
					<ul class="item_brand_list ul_li">
						<li><a href="#!">Branding</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid-item">
			<div class="portfolio_fullimage">
				<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
					<img src="assets/images/portfolio/portfolio_img_45.jpg" alt="Portfolio Image">
				</a>
				<div class="item_content">
					<h3>
						Design is the slient ambass of brand
					</h3>
					<ul class="item_brand_list ul_li">
						<li><a href="#!">Branding</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid-item">
			<div class="portfolio_fullimage">
				<a class="image_wrap" href="{{ "portfolio-details" | relative_url }}">
					<img src="assets/images/portfolio/portfolio_img_46.jpg" alt="Portfolio Image">
				</a>
				<div class="item_content">
					<h3>
						Design is the slient ambass of brand
					</h3>
					<ul class="item_brand_list ul_li">
						<li><a href="#!">Branding</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- portfolio_section - end
        ================================================== -->