<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1FW0SSZT8G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.data.settings.google_analytics.key }}');

  // Set consent defaults
  gtag('consent', 'default', {
    analytics_storage: localStorage.getItem('silktideCookieChoice_analytics') === 'true' ? 'granted' : 'denied',
    ad_storage: localStorage.getItem('silktideCookieChoice_marketing') === 'true' ? 'granted' : 'denied',
    ad_user_data: localStorage.getItem('silktideCookieChoice_marketing') === 'true' ? 'granted' : 'denied',
    ad_personalization: localStorage.getItem('silktideCookieChoice_marketing') === 'true' ? 'granted' : 'denied',
    functionality_storage: localStorage.getItem('silktideCookieChoice_necessary') === 'true' ? 'granted' : 'denied',
    security_storage: localStorage.getItem('silktideCookieChoice_necessary') === 'true' ? 'granted' : 'denied'
  });
</script>

<!-- Consent Banner -->
{% assign tl = site.data.settings.cookie_banner %}
<script src="/assets/js/silktide-consent-manager.js"></script>
<script>
  silktideCookieBannerManager.updateCookieBannerConfig({
    background: {
      showBackground: false,
    },
    cookieIcon: {
      position: "bottomLeft"
    },
    cookieTypes: [
      {
        id: "necessary",
        name: "{{ tl.neccessary.name }}",
        description: "<p>{{ tl.neccessary.description }}</p>",
        required: true,
        onAccept: function () { },
      },
      {
        id: "analytical",
        name: "{{ tl.analytical.name }}",
        description: "<p>{{ tl.analytical.description }}</p>",
        required: false,
        onAccept: function () {
          gtag('consent', 'update', {
            analytics_storage: 'granted',
          });
          dataLayer.push({
            'event': 'consent_accepted_analytical',
          });
        },
        onReject: function () {
          gtag('consent', 'update', {
            analytics_storage: 'denied',
          });
        }
      }
    ],
    text: {
      banner: {
        description: "<p>{{ tl.banner.description }}</p>",
        acceptAllButtonText: "{{ tl.banner.acceptAllButtonText }}",
        acceptAllButtonAccessibleLabel: "{{ tl.banner.acceptAllButtonAccessibleLabel }}",
        rejectNonEssentialButtonText: "{{ tl.banner.rejectNonEssentialButtonText }}",
        rejectNonEssentialButtonAccessibleLabel: "{{ tl.banner.rejectNonEssentialButtonAccessibleLabel }}",
        preferencesButtonText: "{{ tl.banner.preferencesButtonText }}",
        preferencesButtonAccessibleLabel: "{{ tl.banner.preferencesButtonAccessibleLabel }}"
      },
      preferences: {
        title: "{{ tl.preferences.title }}",
        description: "<p>{{ tl.preferences.description }}</p>",
        creditLinkText: "",
        creditLinkAccessibleLabel: "",
        on: "{{ tl.preferences.onText }}",
        off: "{{ tl.preferences.offText }}"
      }
    },
    position: {
      banner: "bottomRight"
    }
  });
</script>
