<!-- feature_section - start
        ================================================== -->
<section class="feature_section section_space decoration_wrap">
	<div class="container maxwidth_1440">
		<div class="row align-items-center justify-content-lg-between">
			<div class="col col-lg-5">
				<div class="feature_image wow fadeInUp2" data-wow-delay=".1s">
					<img src="{{ page.feature.image | relative_url }}" alt="Skill Image">
				</div>
			</div>
			<div class="col col-lg-6">
				<div class="feature_content">
					<h2 class="wow fadeInUp2" data-wow-delay=".1s">{{ page.feature.title }}</h2>
					<p class="wow fadeInUp2" data-wow-delay=".2s">
						{{ page.feature.text }}
					</p>
					<p class="wow fadeInUp2" data-wow-delay=".3s">
						{{ page.feature.text_2 }}
					</p>
					<div class="wow fadeInUp2" data-wow-delay=".4s">
						<a class="btn btn_shadow btn_white" href="{{ page.feature.button.link }}"> {{ page.feature.button.label }} </a>
					</div>
				</div>
			</div>
		</div>
		<div class="line_decoration_y">
			<div class="line_item"></div>
			<div class="line_item"></div>
			<div class="line_item"></div>
		</div>
		<div class="line_decoration_x">
			<div class="line_item"></div>
			<div class="line_item"></div>
			<div class="line_item"></div>
		</div>
	</div>
</section>
<!-- feature_section - end
        ================================================== -->