<!-- fraimwork - jquery include -->
<script src="{{ "assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/popper.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/bootstrap-dropdown-ml-hack.js" | relative_url }}"></script>
<!-- carousel - jquery include -->
<script src="{{ "assets/js/slick.min.js" | relative_url }}"></script>
<!-- popup - jquery include -->
<script src="{{ "assets/js/magnific-popup.min.js" | relative_url }}"></script>
<!-- jquery-ui - jquery include -->
<script src="{{ "assets/js/jquery-ui.js" | relative_url }}"></script>
<!-- off canvas sidebar - jquery include -->
<script src="{{ "assets/js/mCustomScrollbar.js" | relative_url }}"></script>
<!-- select option - jquery include -->
<script src="{{ "assets/js/nice-select.min.js" | relative_url }}"></script>
<!-- masonry & filter - jquery include -->
<script src="{{ "assets/js/isotope.pkgd.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/masonry.pkgd.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/imagesloaded.pkgd.min.js" | relative_url }}"></script>
<!-- parallaxie - jquery include -->
<script src="{{ "assets/js/wow.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/parallaxie-bg.js" | relative_url }}"></script>
<!-- scrollspy - jquery include -->
<script src="{{ "assets/js/scrollspy.js" | relative_url }}"></script>
<!-- custom - jquery include -->
<script src="{{ "assets/js/main.js" | relative_url }}"></script>
