<!-- blog_section - start
        ================================================== -->
<section class="blog_section section_space bg_gray_3">
	<div class="container">
		<div class="section_title_4 text-center wow fadeInUp2" data-wow-delay=".1s">
			<h2 class="title_text mb-0">
				Latest <strong>Blog</strong> Posts
			</h2>
		</div>
		<div class="row">
			<div class="col col-md-6">
				<div class="blog_item_boxed_2 wow fadeInUp2" data-wow-delay=".1s">
					<ul class="post_meta ul_li">
						<li><a href="#!">PRODUCT DESIGN</a></li>
						<li>November 27, 2021</li>
					</ul>
					<h3 class="item_title">
						<a href="{{ "blog-details" | relative_url }}">
							Compatible cartridge them which choose.
						</a>
					</h3>
					<p>
						Having a home based business is a wonderful asset to your life. The problem still stands, when it comes time to advertise your business.
					</p>
					<a class="post_admin" href="#!">
						<span class="admin_image">
							<img src="assets/images/meta/thumbnail_15.png" alt="image_not_found">
						</span>
						<small class="admin_name">Lucille Patterson</small>
					</a>
				</div>
			</div>
			<div class="col col-md-6">
				<div class="blog_item_boxed_2 wow fadeInUp2" data-wow-delay=".2s">
					<ul class="post_meta ul_li">
						<li><a href="#!">PHOTOGRAPHY</a></li>
						<li>November 28, 2021</li>
					</ul>
					<h3 class="item_title">
						<a href="{{ "blog-details" | relative_url }}">
							Compatible cartridge them which choose.
						</a>
					</h3>
					<p>
						Having a home based business is a wonderful asset to your life. The problem still stands, when it comes time to advertise your business.
					</p>
					<a class="post_admin" href="#!">
						<span class="admin_image">
							<img src="assets/images/meta/thumbnail_14.png" alt="image_not_found">
						</span>
						<small class="admin_name">Leroy Ortega</small>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- blog_section - end
================================================== -->