<!-- slider_section - start
        ================================================== -->
<section class="slider_section">
	<div class="mouse_wheel_slider">
		<div class="slider_item">
			<div class="item_image">
				<img src="{{ "assets/images/slider/slider_img_1.jpg" | relative_url }}" alt="image_not_found">
			</div>
			<div class="item_content">
				<h3 class="item_title">
					<span class="subtitle text-uppercase">Travel Photography</span>
					Karsten Wurth Karsten
				</h3>
				<p>
					Many small businesses don’t get advertising due to availability of very little resources the design & development all the rumors have finally.
				</p>
			</div>
			<a class="global_link" href="/portfolio-details"></a>
		</div>
		<div class="slider_item">
			<div class="item_image">
				<img src="{{ "assets/images/slider/slider_img_2.jpg" | relative_url }}" alt="image_not_found">
			</div>
			<div class="item_content">
				<h3 class="item_title">
					<span class="subtitle text-uppercase">Fashion Photography</span>
					Toby Look Christopher
				</h3>
				<p>
					Many small businesses don’t get advertising due to availability of very little resources the design & development all the rumors have finally.
				</p>
			</div>
			<a class="global_link" href="/portfolio-details"></a>
		</div>
		<div class="slider_item">
			<div class="item_image">
				<img src="{{ "assets/images/slider/slider_img_3.jpg" | relative_url }}" alt="image_not_found">
			</div>
			<div class="item_content">
				<h3 class="item_title">
					<span class="subtitle text-uppercase">Sports Photography</span>
					Todd Trapani Show
				</h3>
				<p>
					Many small businesses don’t get advertising due to availability of very little resources the design & development all the rumors have finally.
				</p>
			</div>
			<a class="global_link" href="/portfolio-details"></a>
		</div>
		<div class="slider_item">
			<div class="item_image">
				<img src="{{ "assets/images/slider/slider_img_1.jpg" | relative_url }}" alt="image_not_found">
			</div>
			<div class="item_content">
				<h3 class="item_title">
					<span class="subtitle text-uppercase">Travel Photography</span>
					Karsten Wurth Karsten
				</h3>
				<p>
					Many small businesses don’t get advertising due to availability of very little resources the design & development all the rumors have finally.
				</p>
			</div>
			<a class="global_link" href="/portfolio-details"></a>
		</div>
		<div class="slider_item">
			<div class="item_image">
				<img src="{{ "assets/images/slider/slider_img_2.jpg" | relative_url }}" alt="image_not_found">
			</div>
			<div class="item_content">
				<h3 class="item_title">
					<span class="subtitle text-uppercase">Fashion Photography</span>
					Toby Look Christopher
				</h3>
				<p>
					Many small businesses don’t get advertising due to availability of very little resources the design & development all the rumors have finally.
				</p>
			</div>
			<a class="global_link" href="/portfolio-details"></a>
		</div>
		<div class="slider_item">
			<div class="item_image">
				<img src="{{ "assets/images/slider/slider_img_3.jpg" | relative_url }}" alt="image_not_found">
			</div>
			<div class="item_content">
				<h3 class="item_title">
					<span class="subtitle text-uppercase">Sports Photography</span>
					Todd Trapani Show
				</h3>
				<p>
					Many small businesses don’t get advertising due to availability of very little resources the design & development all the rumors have finally.
				</p>
			</div>
			<a class="global_link" href="/portfolio-details"></a>
		</div>
	</div>
	<div class="carousel_arrow">
		<button type="button" class="mws_left_arrow"><i class="fal fa-angle-left"></i></button>
		<button type="button" class="mws_right_arrow"><i class="fal fa-angle-right"></i></button>
	</div>
	<div class="social_area">
		<div class="brand_logo">
			<a class="brand_link" href="{{ / }}">
				<img src="{{ "/assets/images/logo/logo_d_white_1x.png" | relative_url }}"  alt="logo_not_found">
			</a>
		</div>
		<ul class="social_primary ul_li">
			<li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
			<li><a href="#!"><i class="fab fa-twitter"></i></a></li>
			<li><a href="#!"><i class="fab fa-dribbble"></i></a></li>
			<li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
		</ul>
		<a href="#about_section" class="go_down_btn nav-link scrollspy-btn">
			<i class="fal fa-long-arrow-left"></i>
			<span>scroll down</span>
		</a>
	</div>
</section>
<!-- slider_section - end
        ================================================== -->