<!-- banner_section - start
        ================================================== -->
<section class="banner_section banner_style_5 parallaxie" style="background-image: url({{ page.banner.image | relative_url }});">
	<div class="container">
		<div class="row">
			<div class="col col-lg-7">
				<div class="banner_content wow fadeInUp2" data-wow-delay=".1s">
					<h1 class="text-white">
						{{ page.banner.title }}
					</h1>
					<p class="wow fadeInUp2" data-wow-delay=".2s">
						{{ page.banner.description }}
					</p>
					<a class="btn btn_danger" href="{{ page.banner.button.link }}">{{ page.banner.button.label }}</a>
				</div>
			</div>
		</div>
	</div>
	<span class="big_text">Justin</span>
</section>
<!-- banner_section - end
        ================================================== -->