<!-- banner_section - start
        ================================================== -->
<section class="banner_section banner_style_2 decoration_wrap" style="background-image: url('assets/images/backgrounds/bg_3.png');">
	<div class="container">
		<div class="row">
			<div class="col col-lg-10">
				<div class="banner_content wow fadeInUp2" data-wow-delay=".1s">
					<h1>{{ page.banner.title }}</h1>
					<p class="wow fadeInUp2" data-wow-delay=".2s">
						{{ page.banner.description }}
					</p>
					<div class="wow fadeInUp2" data-wow-delay=".3s">
						<a class="btn btn_shadow btn_primary" href="{{ page.banner.button.link }}">{{ page.banner.button.label }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h3 class="deco_title_1 wow fadeInRight" data-wow-delay=".4s">Digital</h3>
	<h3 class="deco_title_2 wow fadeInLeft" data-wow-delay=".1s">Agency</h3>
	<div class="deco_item dot_shape_1 wow fadeInUp2" data-wow-delay=".1s">
		<img src="{{ "/assets/images/shapes/dot.png" | relative_url }}" alt="Dot Image">
	</div>
	<div class="deco_item dot_shape_2 wow fadeInUp2" data-wow-delay=".1s">
		<img src="{{ "/assets/images/shapes/dot.png" | relative_url }}" alt="Dot Image">
	</div>
	<div class="deco_item triangle_shape wow fadeInUp2" data-wow-delay=".2s">
		<img src="{{ "/assets/images/shapes/triangle.png" | relative_url }}" alt="Triangle Shape Image">
	</div>
	<div class="deco_item circle_shape wow fadeInUp2" data-wow-delay=".3s">
		<img src="{{ "/assets/images/shapes/circle.png" | relative_url }}" alt="Circle Shape Image">
	</div>
	<div class="deco_item tall_shape wow fadeInLeft" data-wow-delay=".5s"></div>
	<div class="line_decoration_y">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
	<div class="line_decoration_x">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
</section>
<!-- banner_section - end
        ================================================== -->