<!-- testimonial_section - start
        ================================================== -->
<section class="testimonial_section section_space bg_gray decoration_wrap">
	<div class="container maxwidth_1440">
		<h2 class="primary_section_title wow fadeInUp2" data-wow-delay=".1s">{{ page.testimonial.title }}</h2>
		<div class="testimonial_carousel_2 wow fadeInUp2" data-wow-delay=".2s">
			<div class="common_carousel_2col" data-slick='{"arrows": false}'>
				{% for item in page.testimonial.testimonials %}
				<div class="slider_item">
					<div class="testimonial_item_2">
						<div class="content_wrap">
							<div class="testimonial_thumbnail">
								<img src="{{ item.image | relative_url }}" alt="image_not_found">
							</div>
							<p>
								{{ item.text }}
							</p>
						</div>
						<div class="bottom_area">
							<h3>{{ item.designation }}</h3>
							<ul class="rating_star ul_li">
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
								<li class="active"><i class="fas fa-star"></i></li>
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="row justify-content-center">
			{% for item in page.testimonial.client_logo %}
			<div class="col col-lg-3 col-md-4 col-sm-6 wow fadeInUp2" data-wow-delay=".1s">
				<a class="client_item_2" href="{{ item.url }}">
					<img src="{{ item.logo }}" alt="{{ item.logo_alt }}">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="line_decoration_y line_white">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
	<div class="line_decoration_x line_white">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
</section>
<!-- testimonial_section - end
        ================================================== -->