<!-- testimonial_section - start
        ================================================== -->
<section class="testimonial_section section_space wow fadeInUp2" data-wow-delay=".1s" style="background-image: url({{ page.testimonial.image | relative_url }});">
	<div class="container">
		<div class="testimonial_carousel">
			<div class="common_carousel_1col" data-slick='{"arrows": true}'>
				{% for item in page.testimonial.testmonials %}
				<div class="slider_item">
					<div class="testimonial_item_1 text-white">
						<p>
							{{ item.text }}
						</p>
						<h3><span class="text-white">-{{ item.name }},</span> {{ item.position }} </h3>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- testimonial_section - end
        ================================================== -->