<!-- header_section - start
      ================================================== -->
<header class="header_section header_style_1">
  <a href="/" class="logo">
    <span class="first">Dr.techn.</span><br />
    <span class="second">Marcel Moosbrugger</span>
  </a>
  <div class="language_switcher">
    {% for tongue in site.languages %}<a {% if tongue == site.active_lang %}class="active_lang"{% endif %}
      {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %} >{{ tongue }}</a>{%- if forloop.last == false -%}|{%- endif -%}{% endfor %}</div>
</header>
<!-- header_section - end
      ================================================== -->
