<!-- header_section - start
      ================================================== -->
<header class="header_section header_style_1">
	<div class="brand_logo">
		<a class="brand_link" href="index.html">
			<img src="{{ site.data.settings.logo_1 | relative_url }}" alt="logo_not_found">
			<img src="{{ site.data.settings.logo_2 | relative_url }}" alt="logo_not_found">
		</a>
	</div>
	<button type="button" class="offcanvas_btn offcanvas_btn_2" data-bg-color="#34363E">
		<svg xmlns="http://www.w3.org/2000/svg" width="34" height="21.667" viewBox="0 0 34 21.667">
			<rect width="17.895" height="3.667" rx="1.833" transform="translate(16)" fill="#fff" />
			<rect width="34" height="3.667" rx="1.833" transform="translate(0 9)" fill="#fff" />
			<rect width="34" height="3.667" rx="1.833" transform="translate(0 18)" fill="#fff" />
		</svg>
	</button>
</header>
<!-- header_section - end
      ================================================== -->