<!-- header_section - start
      ================================================== -->
<header class="header_section header_style_5 white_content">
	<nav class="main_menu navbar navbar-expand-lg">
		<div class="brand_logo">
			<a class="brand_link" href="index.html">
				<img src="{{ site.data.settings.logo_1 | relative_url }}" alt="logo_not_found">
			    <img src="{{ site.data.settings.logo_2 | relative_url }}" alt="logo_not_found">
			</a>
		</div>
		<div class="main_menu_inner collapse navbar-collapse" id="main_menu_dropdown">
			<ul class="main_menu_list ul_li text-uppercase">
				{% for item in site.data.menus.toc %}
				{% if item.subfolderitems[0] %}
				<li class="nav-item dropdown {% if item.title == page.group %}active{% endif %}">
					<a class="nav-link" href="#" id="{{ item.title }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ item.title }}
					</a>
					<ul class="submenu dropdown-menu" aria-labelledby="{{ item.title }}">
						{% for entry in item.subfolderitems %}
						<li {% if entry.url==page.url %}class="active" {% endif %}><a class="dropdown-item" href="{{ entry.url }}">{{ entry.page }}</a>
							<ul class="submenu dropdown-menu" aria-labelledby="{{ entry.page }}">
								{% for nav in entry.subsubfolderitems %}
								<li {% if nav.url==page.url and nav.page==page.subgroup %}class="active" {% endif %}>
									<a class="dropdown-item" href="{{ nav.url }}">{{ nav.page }}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		<ul class="header_btns_group ul_li">
			<li>
				<button class="mobile_menu_btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_menu_dropdown" aria-controls="main_menu_dropdown" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fal fa-bars"></i>
				</button>
			</li>
			<li>
				<button type="button" class="offcanvas_btn offcanvas_btn_2" data-bg-color="#34363E">
					<svg xmlns="http://www.w3.org/2000/svg" width="34" height="21.667" viewBox="0 0 34 21.667">
						<rect width="17.895" height="3.667" rx="1.833" transform="translate(16)" fill="#fff" />
						<rect width="34" height="3.667" rx="1.833" transform="translate(0 9)" fill="#fff" />
						<rect width="34" height="3.667" rx="1.833" transform="translate(0 18)" fill="#fff" />
					</svg>
				</button>
			</li>
		</ul>
	</nav>
</header>
<!-- header_section - end
      ================================================== -->