<!-- header_section - start
      ================================================== -->
<header class="header_section header_style_1 black_content">
	<div class="brand_logo">
		<a class="brand_link" href="index.html">
			<img src="{{ site.data.settings.logo_2 | relative_url }}" alt="logo_not_found">
			<img src="{{ site.data.settings.logo_2 | relative_url }}" alt="logo_not_found">
		</a>
	</div>
	<button type="button" class="offcanvas_btn offcanvas_btn_1">
		<span class="menu_text">MENU</span>
		<span class="bar_icon">
			<small></small>
			<small></small>
			<small></small>
		</span>
	</button>
</header>
<!-- header_section - end
      ================================================== -->