<!-- breadcrumb_style_5 - start
        ================================================== -->
<section class="breadcrumb_section breadcrumb_style_5 decoration_wrap">
	<div class="container">
		<div class="breadcrumb_content wow fadeInUp2" data-wow-delay=".1s">
			<h1 class="page_title mb-0">{{ page.breadcrumb.title }}<strong class="d-block">{{ page.breadcrumb.title_2 }}</strong></h1>
		</div>
	</div>
	<div class="big_text">
		<div class="container wow fadeInUp2" data-wow-delay=".2s">{{ page.breadcrumb.text }}</div>
	</div>
	<div class="block_overlay white_style">
		<div class="container">
			<div class="block_item"></div>
			<div class="block_item"></div>
		</div>
	</div>
</section>
<!-- breadcrumb_style_5 - end
        ================================================== -->