<!-- about_section_7 - start
        ================================================== -->
<section id="about_section" class="about_section_7 section_space">
	<div class="container">
		<div class="row">
			<div class="col col-lg-6">
				<div class="section_title_4 wow fadeInUp2" data-wow-delay=".1s">
					<h2 class="title_text">
						{{ page.about.title }}
					</h2>
				</div>
				<div class="about_image wow fadeInUp2" data-wow-delay=".3s">
					<img src="{{ page.about.image | relative_url }}" alt="image_not_found">
				</div>
			</div>
			<div class="col col-lg-6">
				<div class="about_content wow fadeInUp2" data-wow-delay=".3s">
					<p>
						<strong>
							{{ page.about.text_strong }}
						</strong>
					</p>
					<p>
						{{ page.about.text }}
					</p>
					<p class="mb-0">
						{{ page.about.text_2 }}
					</p>
				</div>
			</div>
		</div>
	</div>
	<span class="focus_text text-center wow fadeInUp2" data-wow-delay=".5s">{{ page.about.text_3 }}</span>
</section>
<!-- about_section_7 - end
        ================================================== -->