<!-- about_section_5 - start
        ================================================== -->
<section class="about_section_5 section_space pb-0">
	<div class="container">
		<div class="about_image wow fadeInUp2" data-wow-delay=".1s">
			<img src="{{ page.about.image | relative_url }}" alt="image_not_found">
		</div>
		<div class="about_content wow fadeInUp2" data-wow-delay=".3s">
			<div class="section_title_2 mb-0">
				<h2 class="title_text">
					{{ page.about.title }}
					<strong class="focus_text">{{ page.about.title_strong }}</strong>
				</h2>
				<p class="mb-0">
					{{ page.about.content }}
				</p>
			</div>
		</div>
	</div>
</section>
<!-- about_section_5 - end
        ================================================== -->