<!-- about_section_2 - start
        ================================================== -->
<section class="about_section_2 section_space decoration_wrap">
	<div class="container maxwidth_1440">
		<div class="image_wrap wow fadeInUp2" data-wow-delay=".1s">
			<img src="{{ page.about.image | relative_url }}" alt="About Agency Image">
		</div>
		<div class="row justify-content-center">
			<div class="col col-lg-10">
				<h2 class="wow fadeInUp2" data-wow-delay=".1s">{{ page.about.title }}</h2>
				<p class="wow fadeInUp2" data-wow-delay=".2s">
					<strong>
						{{ page.about.description }}
					</strong>
				</p>
				<div class="row">
					<div class="col col-lg-6">
						<p class="wow fadeInUp2 mb-0" data-wow-delay=".3s">
							{{ page.about.content }}
						</p>
					</div>
					<div class="col col-lg-6">
						<p class="wow fadeInUp2 mb-0" data-wow-delay=".3s">
							{{ page.about.content_2 }}
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col col-lg-6">
						<div class="progress_item wow fadeInUp2" data-wow-delay=".1s">
							<h4 class="item_title mb-0 text-uppercase">{{ page.about.skill.label_1 }}</h4>
							<div class="progress">
								<div class="progress_bar wow Rx_width_{{ page.about.skill.number_1 }} animated" role="progressbar" data-wow-duration="1s" data-wow-delay=".4s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
									<span class="value_text">{{ page.about.skill.number_1 }}%</span>
								</div>
							</div>
						</div>
						<div class="progress_item wow fadeInUp2" data-wow-delay=".2s">
							<h4 class="item_title mb-0 text-uppercase">{{ page.about.skill.label_2 }}</h4>
							<div class="progress">
								<div class="progress_bar wow Rx_width_{{ page.about.skill.number_2 }} animated" role="progressbar" data-wow-duration="1s" data-wow-delay=".4s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
									<span class="value_text">{{ page.about.skill.number_2 }}%</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-lg-6">
						<div class="progress_item wow fadeInUp2" data-wow-delay=".1s">
							<h4 class="item_title mb-0 text-uppercase">{{ page.about.skill.label_3 }}</h4>
							<div class="progress">
								<div class="progress_bar wow Rx_width_{{ page.about.skill.number_3 }} animated" role="progressbar" data-wow-duration="1s" data-wow-delay=".4s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
									<span class="value_text">{{ page.about.skill.number_3 }}%</span>
								</div>
							</div>
						</div>
						<div class="progress_item mb-0 wow fadeInUp2" data-wow-delay=".2s">
							<h4 class="item_title mb-0 text-uppercase">{{ page.about.skill.label_4 }}</h4>
							<div class="progress">
								<div class="progress_bar wow Rx_width_{{ page.about.skill.number_4 }} animated" role="progressbar" data-wow-duration="1s" data-wow-delay=".4s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
									<span class="value_text">{{ page.about.skill.number_4 }}%</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="line_decoration_y">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
	<div class="line_decoration_x">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
</section>
<!-- about_section_2 - end
        ================================================== -->