<!-- about_section_3 - start
        ================================================== -->
<section class="about_section_3 section_space decoration_wrap">
	<div class="container">
		<div class="about_content">
			<h2 class="wow fadeInUp2" data-wow-delay=".1s">
				<span>{{ page.about.text_1 }}</span>
				<strong class="d-md-block">{{ page.about.text_2 }}</strong> {{ page.about.text_3 }}
			</h2>
			<p class="mb-0 wow fadeInUp2" data-wow-delay=".3s">
				{{ page.about.text_4 }}
			</p>
		</div>
		<div class="load_more text-md-end">
			<a class="play_btn_2 popup_video wow slideInRight" href="{{ page.about.youtube_link }}" data-wow-delay=".1s">
				<span>
					<i class="fal fa-arrow-to-bottom"></i>
				</span>
				<small class="text-white">{{ page.about.text_5 }}</small>
			</a>
		</div>
	</div>
	<div class="deco_item circle_img_1 wow fadeInUp2" data-wow-delay=".1s">
		<img src="{{ "/assets/images/shapes/circle_5.png" | relative_url }}" alt="Circle Image">
	</div>
	<div class="deco_item circle_img_2 wow fadeInUp2" data-wow-delay=".3s">
		<img src="{{ "/assets/images/shapes/circle_6.png" | relative_url }}" alt="Circle Image">
	</div>
</section>
<!-- about_section_3 - end
        ================================================== -->