<!-- about_section_7 - start
        ================================================== -->
	<section class="about_section_7 section_space">
		<div class="container">
			<div class="row">
				<div class="col col-lg-6">
					<div class="section_title_4 wow fadeInUp2" data-wow-delay=".1s">
						<h2 class="title_text">
							{{ page.about.title }}
						</h2>
					</div>
				</div>
				<div class="col col-lg-6">
					<div class="about_content wow fadeInUp2" data-wow-delay=".3s">
						<p>
							<strong>
								{{ page.about.text }}
							</strong>
						</p>
						<p>
							{{ page.about.text_2 }}
						</p>
						<p class="mb-0">
							{{ page.about.text_3 }}
						</p>
					</div>
				</div>
			</div>
		</div>
		<span class="focus_text text-center wow fadeInUp2" data-wow-delay=".5s">{{ page.about.name }}</span>
	</section>
	<!-- about_section_7 - end
        ================================================== -->
	<!-- about_section_7 - start
        ================================================== -->
	<section class="about_section_7 decoration_wrap">
		<div class="section_space_rl wow fadeInUp2" data-wow-delay=".1s">
			<img src="/assets/images/about/about_img_12.jpg" alt="image_not_found">
		</div>
		<div class="section_space pb-0">
			<div class="container">
				<div class="mission_content">
					<div class="row">
						<div class="col col-lg-4">
							<h3 class="item_title wow fadeInUp2" data-wow-delay=".1s">{{ page.about.title_2 }}</h3>
						</div>
						<div class="col col-lg-8">
							<p class="mb-0 wow fadeInUp2" data-wow-delay=".1s">
								{{ page.about.text_4 }}
							</p>
						</div>
					</div>
				</div>
				<div class="mission_content">
                <div class="row">
                  <div class="col col-lg-4">
                    <h3 class="item_title wow fadeInUp2" data-wow-delay=".1s">Our Expertise</h3>
                  </div>
                  <div class="col col-lg-8">
                    <div class="photography_tab_wrap wow fadeInUp2" data-wow-delay=".1s">
                      <ul class="photography_tabs_nav nav ul_li_block" role="tablist">
                        <li>
                          <button class="active" data-bs-toggle="tab" data-bs-target="#tab_product" type="button" role="tab" aria-selected="true">- Product Photography</button>
                        </li>
                        <li>
                          <button data-bs-toggle="tab" data-bs-target="#tab_pports" type="button" role="tab" aria-selected="false">- Sports Photography</button>
                        </li>
                        <li>
                          <button data-bs-toggle="tab" data-bs-target="#tab_pedding" type="button" role="tab" aria-selected="false">- Wedding Photography</button>
                        </li>
                        <li>
                          <button data-bs-toggle="tab" data-bs-target="#tab_pashion" type="button" role="tab" aria-selected="false">- Fashion Photography</button>
                        </li>
                        <li>
                          <button data-bs-toggle="tab" data-bs-target="#tab_pravel" type="button" role="tab" aria-selected="false">- Travel Photography</button>
                        </li>
                        <li>
                          <button data-bs-toggle="tab" data-bs-target="#tab_pildlife" type="button" role="tab" aria-selected="false">- Wildlife Photography</button>
                        </li>
                      </ul>

                      <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab_product" role="tabpanel">
                          <img src="assets/images/about/about_img_13.jpg" alt="image_not_found">
                        </div>

                        <div class="tab-pane fade" id="tab_pports" role="tabpanel">
                          <img src="assets/images/about/about_img_13.jpg" alt="image_not_found">
                        </div>

                        <div class="tab-pane fade" id="tab_pedding" role="tabpanel">
                          <img src="assets/images/about/about_img_13.jpg" alt="image_not_found">
                        </div>

                        <div class="tab-pane fade" id="tab_pashion" role="tabpanel">
                          <img src="assets/images/about/about_img_13.jpg" alt="image_not_found">
                        </div>

                        <div class="tab-pane fade" id="tab_pravel" role="tabpanel">
                          <img src="assets/images/about/about_img_13.jpg" alt="image_not_found">
                        </div>

                        <div class="tab-pane fade" id="tab_pildlife" role="tabpanel">
                          <img src="assets/images/about/about_img_13.jpg" alt="image_not_found">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
			</div>
		</div>
		<div class="block_overlay">
			<div class="container">
				<div class="block_item"></div>
				<div class="block_item"></div>
			</div>
		</div>
	</section>
	<!-- about_section_7 - end
        ================================================== -->
	<!-- about_section_7 - start
        ================================================== -->
	<section class="about_section_7 section_space decoration_wrap">
		<div class="container">
			<div class="section_title_4 wow fadeInUp2" data-wow-delay=".1s">
				<h2 class="title_text">
					<span class="d-md-block">{{ page.about.title_4 }}
				</h2>
			</div>
			<p class="wow fadeInUp2" data-wow-delay=".1s">
				<strong>
					{{ page.about.text_5 }}
				</strong>
			</p>
			<p class="mb-5 wow fadeInUp2" data-wow-delay=".1s">
				{{ page.about.text_6 }}
			</p>
			<div class="row">
				<div class="col col-md-6 wow fadeInUp2" data-wow-delay=".1s">
					<img src="{{ page.about.image_2 | relative_url}}" alt="image_not_found">
				</div>
				<div class="col col-md-6 wow fadeInUp2" data-wow-delay=".1s">
					<img src="{{ page.about.image_3 | relative_url}}" alt="image_not_found">
				</div>
				<div class="col col-lg-12 wow fadeInUp2" data-wow-delay=".1s">
					<img src="{{ page.about.image_4 | relative_url}}" alt="image_not_found">
				</div>
			</div>
			<p class="mt-5 mb-0 wow fadeInUp2" data-wow-delay=".1s">
				{{ page.about.text_7 }}
			</p>
		</div>
		<div class="block_overlay">
			<div class="container">
				<div class="block_item"></div>
				<div class="block_item"></div>
			</div>
		</div>
	</section>
	<!-- about_section_7 - end
        ================================================== -->