---
layout: default
---
{% include header/header-7.html %}
<!-- main body - start
      ================================================== -->
<main>
	{% include offcanvas/offcanvas.html %}
	{% include sidebar.html %}
	{% include breadcrumb/breadcrumb-3.html %}
	{% include about/about-6.html %}
	{% include client/client-4.html %}
	{% include team/team-2.html %}
	{% include call-to-action/call-to-action-4.html %}
</main>
<!-- main body - end
      ================================================== -->
{% include footer/footer-4.html %}