---
layout: default
---
{% include header/header.html %}
<!-- main body - start
      ================================================== -->
<main>
	{% include offcanvas/offcanvas.html %}
	<!-- portfolio_details - start
        ================================================== -->
        <section class="portfolio_details">
          <div class="details_image has_overlay parallaxie text-white" style="background-image: url('{{ page.portfolio_item.image }}');">
            <div class="overlay"></div>
            <div class="container">
              <h1 class="text-white wow fadeInUp2" data-wow-delay=".1s">
                <span class="post_category">{{ page.portfolio_item.title }}</span>
                {{ page.portfolio_item.text }}
              </h1>
            </div>
          </div>

          <div class="additional_info">
            <div class="container">
              <div class="row">
              	{% for item in page.portfolio_item.info %}
                <div class="col col-md-4">
                  <div class="info_list wow fadeInUp2" data-wow-delay=".1s">
                    <h4>{{ item.category }}</h4>
                    <p>{{ item.title }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="details_content section_space">
            <div class="container">
            	{% for item in page.portfolio_item.project_detail %}
              <h2 class="wow fadeInUp2" data-wow-delay=".1s">{{ item.title }}</h2>
              <p class="wow fadeInUp2" data-wow-delay=".1s">
                {{ item.text }}
              </p>

              <div class="image_wrap wow fadeInUp2" data-wow-delay=".1s">
                <img src="{{ item.image_1 }}" alt="{{ item.image_alt}}">
              </div>

              <div class="row">
                <div class="col col-lg-6">
                  <div class="image_wrap wow fadeInUp2" data-wow-delay=".1s">
                    <img src="{{ item.image_2 }}" alt="{{ item.image_alt}}">
                  </div>
                </div>
                <div class="col col-lg-6">
                  <div class="image_wrap wow fadeInUp2" data-wow-delay=".2s">
                    <img src="{{ item.image_3 }}" alt="{{ item.image_alt}}">
                  </div>
                </div>
              </div>

              <div class="image_wrap wow fadeInUp2" data-wow-delay=".1s">
                <img src="{{ item.image_4 }}" alt="{{ item.image_alt}}">
              </div>

              <h3 class="wow fadeInUp2" data-wow-delay=".1s">
                {{ item.text_1 }}
              </h3>
              <p class="wow fadeInUp2" data-wow-delay=".1s">
                {{ item.text_2 }}
              </p>
              <p class="wow fadeInUp2" data-wow-delay=".1s">
                {{ item.text_3 }}
              </p>
              <a class="btn btn_secondary btn_block wow fadeInUp2" data-wow-delay=".1s" href="{{ item.url }}">{{ item.btn }}</a>
            </div>
            {% endfor %}
          </div>
        </section>
        <!-- portfolio_details - end
        ================================================== -->

        <!-- other_post_section - start
        ================================================== -->
        <section class="other_post_section">
        	{% for item in page.other %}
          <div class="other_post_item wow fadeInUp2" data-wow-delay=".1s">
            <a class="item_image" href="{{ item.url }}" >
              <img src="{{ item.image }}" alt="{{ item.image_alt }}">
            </a>
            <div class="item_content">
              <h3>{{ item.title }}</h3>
              <h4>{{ item.text }}</h4>
              <span>{{ item.text_2 }}</span>
            </div>
          </div>
          {% endfor %}
        </section>
        <!-- other_post_section - end
        ================================================== -->

</main>
<!-- main body - end
      ================================================== -->
{% include footer/footer.html %}