---
layout: default
---
{% include header/header-7.html %}
<!-- main body - start
      ================================================== -->
<main>
	{% include sidebar.html %}
	{% include breadcrumb/breadcrumb-3.html %}
	<!-- portfolio_section - start
        ================================================== -->
	<section class="portfolio_section section_space">
		<div class="container-fluid">
			<div class="row no_gutter">
				{% assign sorted = site.portfolio-grid-v2 | reverse %}
				{% for item in sorted %}
				<div class="col col-lg-4 col-md-6 wow fadeInUp2" data-wow-delay=".1s">
					<div class="portfolio_grid_layout">
						<span class="item_date">{{ item.date | date: "%Y" }}</span>
						<a class="image_wrap" href="{{ item.url }}">
							<img src="{{ item.image | relative_url }}" alt="{{ item.image_alt }}">
						</a>
						<div class="item_content">
							<h3 class="item_title">{{ item.title }}</h3>
							<ul class="item_category ul_li">
								{% for i in item.list %}
								<li><a href="{{ i.url }}">{{ i.category }}</a></li>
								{% endfor %}
							</ul>
							<a class="details_link" href="{{ item.url }}">
								<i class="fal fa-long-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="load_more text-center wow fadeInUp2" data-wow-delay=".1s">
				<a href="#!" class="btn btn_secondary rounded-pill">LOAD MORE PROJECT</a>
			</div>
		</div>
	</section>
	<!-- portfolio_section - end
        ================================================== -->
</main>
<!-- main body - end
      ================================================== -->
{% include footer/footer-4.html %}