---
layout: default
---
{% include header/header-4.html %}
<!-- main body - start
      ================================================== -->
<main>
	{% include offcanvas/offcanvas.html %}
	{% include breadcrumb/breadcrumb-3.html %}
	{% include service/service-6.html %}
	<!-- video_section - start
        ================================================== -->
	<div class="video_section section_space parallaxie" style="background-image: url('assets/images/banner/banner_bg_2.jpg');">
		<div class="ovarlay bg_dark"></div>
		<div class="container text-center">
			<a class="play_btn popup_video bg_danger" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
				<svg xmlns="http://www.w3.org/2000/svg" width="24.002" height="34" viewBox="0 0 24.002 34">
					<path d="M0,0V34L24,17Z" fill="#fff" />
				</svg>
			</a>
		</div>
	</div>
	<!-- video_section - end
        ================================================== -->
	{% include pricing/pricing.html %}
	{% include testimonial/testimonial-6.html %}
</main>
<!-- main body - end
      =====================s============================= -->
{% include footer/footer-4.html %}