<!-- calltoaction_section - start
        ================================================== -->
<section class="calltoaction_section section_space bg_gray">
	<div class="container wow fadeInUp2" data-wow-delay=".1s">
		<h2>{{ page.call_to_action.title }}</h2>
		<h3>
			{{ page.call_to_action.title_2 }}
		</h3>
		<a class="btn btn_primary" href="{{ page.call_to_action.button.link }}">{{ page.call_to_action.button.label }}</a>
	</div>
</section>
<!-- calltoaction_section - end
        ================================================== -->