<!-- calltoaction_section_2 - start
        ================================================== -->
<section class="calltoaction_section_2 section_space text-center">
	<div class="container">
		<h2 class="wow fadeInUp2" data-wow-delay=".1s">{{ page.call_to_action.title }}</h2>
		<a class="wow fadeInUp2" data-wow-delay=".2s" href="#!">{{ site.data.settings.contact_settings.email_2 }}</a>
	</div>
</section>
<!-- calltoaction_section_2 - end
        ================================================== -->