<!-- calltoaction_section - start
==================================================-->
<div class="section_space decoration_wrap">
	<div class="container maxwidth_1440 wow fadeInUp2" data-wow-delay=".1s">
		<div class="calltoaction_boxed">
			<p class="text-white">
				{{ page.call_to_action.title }}
			</p>
			<span class="mail_text"><a class="text-white" href="#!">{{ site.data.settings.contact_settings.email}}</a></span>
		</div>
	</div>
	<div class="line_decoration_y line_white">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
	<div class="line_decoration_x line_white">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
</div>
<!-- calltoaction_section - end
        ================================================== -->