<!-- calltoaction_section - start
        ================================================== -->
<section class="calltoaction_section section_space decoration_wrap">
	<div class="container maxwidth_1440">
		<div class="join_content_wrap text-center wow fadeInUp2" data-wow-delay=".1s">
			<h2>Sign up for our Newsletter & <span class="d-md-block">stay informed</span></h2>
			<form action="#">
				<div class="form_item">
					<input type="email" name="email" placeholder="Please enter your e-mail">
					<button type="submit">SUBSCRIBE NOW</button>
				</div>
			</form>
		</div>
	</div>
	<div class="block_overlay">
		<div class="container">
			<div class="block_item"></div>
			<div class="block_item"></div>
		</div>
	</div>
</section>
<!-- calltoaction_section - end
        ================================================== -->