<!-- calltoaction_section - start
        ================================================== -->
<div class="calltoaction_section calltoaction_style_2 section_space bg_blue decoration_wrap">
	<div class="container">
		<p class="text-white wow fadeInUp2" data-wow-delay=".1s">
			{{ page.call_to_action.title }}
		</p>
		<span class="mail_text wow fadeInUp2" data-wow-delay=".2s"><a class="text-white" href="#!">{{ site.data.settings.contact_settings.email}}</a></span>
	</div>
	<div class="line_decoration_y line_white">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
	<div class="line_decoration_x line_white">
		<div class="line_item"></div>
		<div class="line_item"></div>
		<div class="line_item"></div>
	</div>
</div>
<!-- calltoaction_section - end
        ================================================== -->