<!-- calltoaction_section - start
        ================================================== -->
<section class="calltoaction_section section_space decoration_wrap">
	<div class="container maxwidth_1440">
		<div class="join_content_wrap text-center wow fadeInUp2" data-wow-delay=".1s">
			<h2>{{ page.call_to_action.title }}</h2>
			<p>{{ page.call_to_action.title_2 }}</p>
			<a class="btn btn_secondary" href="{{ page.call_to_action.button.link }}">{{ page.call_to_action.button.label }} <i class="fal fa-chevron-right ms-3"></i></a>
		</div>
	</div>
	<div class="block_overlay">
		<div class="container">
			<div class="block_item"></div>
			<div class="block_item"></div>
		</div>
	</div>
</section>
<!-- calltoaction_section - end
        ================================================== -->