<!-- calltoaction_section_3 - start
        ================================================== -->
<section class="calltoaction_section_3 section_space has_overlay parallaxie wow fadeInUp2" data-wow-delay=".1s" style="background-image: url('{{ page.call_to_action.image | relative_url }}');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-10">
				<h2>
					{{ page.call_to_action.title }}
					<span class="d-md-block">
						<a class="text-white" href="{{ page.call_to_action.button.link }}"><u>{{ page.call_to_action.button.label }}</u></a>
					</span>
				</h2>
			</div>
		</div>
	</div>
</section>
<!-- calltoaction_section_3 - end
        ================================================== -->